@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Montserrat:ital,wght@0,400;1,600&family=Open+Sans:ital,wght@0,700;1,400&display=swap');
:root{
  // --col1: #00b0ff;
  --col1: #FF8300;
  // --col2: #ff5500;
  --col3: #191970;
  --col4: #ff5500;
  --colt: #404041;
  --colt2: #f5f5f5;
  --bg1: #f5f5dc;
}
*{
  transition: 0.25s;
  box-sizing: border-box;
  position: relative;
}
html{
  font: 18px/1.5 'Open Sans', system-ui, sans-serif;
}

body{
  background: radial-gradient(circle at center, white, lightsalmon);
  padding-bottom: 3rem;
  // background-color: #ffffff;
// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
// background-color: #ee5522;
// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23FB3'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23f7882b'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
// background-size: cover;
// background-attachment: fixed;
}
nav{
  background-color: var(--col1);
  color: var(--colt2);
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100%;
  height: 3rem;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 10;
  p{
    margin: 0 auto 0 0;
    font-weight: bold;
    font-size: 1.5rem;
  }
  button{
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    background: var(--col1);
    position: fixed;
    top: 50%;
    bottom: 3rem;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    visibility: hidden;
    opacity: 0;
  }
  ul.active{
    visibility: initial;
    opacity: 1;
  }
  li{
    width: 100%;
  }
  a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    color: var(--colt2)
  }
}
header{
  min-height: calc(100vh - 3rem);
  background: url('imgs/people.jpg') no-repeat fixed center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1{
    margin-bottom: 0;
    font: 3rem 'Comfortaa';
    color: var(--col1);
  }
  p{
    background: var(--colt);
    opacity: 0.5;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    margin-top: 0.25rem;
    color: var(--colt2);
  }
}
.container{
  padding: 1rem;
}
figure{
  margin: 0;
  img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
  }
  figcaption{
    margin-top: 0.5rem;
    text-align: center;
  }
}
h2{
  text-align: center;
  color: var(--col1);
  margin: 6rem auto 2rem; 
  font-family: 'Comfortaa', serif;
}
.first{
  margin: 3rem 0;
}
.slides{
  overflow: hidden;
}
.carousel{
  background: url('https://placeimg.com/640/480/tech') no-repeat center;
  background-size: cover;
  overflow: hidden;
  padding: 2rem;
  .carousel-container{
    display: flex;
    animation: carousel 12s infinite ;
    min-height: 50vh;
  }
  .slide{
    min-width: 100%;
    text-align: center;
    background: linear-gradient(rgba(white, 0.8), rgba(white, 0.8));
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
      display: block;
      width: 5rem;
      height: 5;
      margin: 1rem auto;
    }
    h3{
      margin: 0 auto;
    }
    p:last-of-type{
      margin-top: 0;
    }
  }
}
@keyframes carousel{
  0%{
    transform: translate(0)
  }
  28%{
    transform: translate(0%)
  }
  37%{
    transform: translate(-100%)
  }
  60%{
    transform: translate(-100%)
  }
  72%{
    transform: translate(-200%)
  }
  93%{
    transform: translate(-200%)
  }
  99%{
    transform: translate(0)
  }
}

.contact-section{
  margin: 2rem 0;
  
}
.contact{
  padding: 1rem;
  margin: 1rem;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
  text-align: center;
  a{
    color: var(--col1)
  }
  p:first-of-type{
    margin-bottom: 0;
  }
  p:last-of-type{
    margin-top: 0;
  }
  .social{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
  }
  .fas{
    color: var(--col1);
  }
}
.contact-form-container{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://placeimg.com/800/600/tech') no-repeat center;
  background-size: cover, cover;
  padding: 2rem;
}
.contact-form{
  margin: 2rem auto;
  padding: 0 2rem;
  max-width: 30rem;
  input, textarea{
    display: block;
    background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2));
    margin-bottom: 1.25rem;
    min-width: 100%;
    appearance: none;
    // background: none;
    border: none;
    outline: none;
  }
  label{
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: smaller;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--colt2);
  }
  input{
    border-bottom: 1px solid var(--col1);
  }
  ::placeholder{
    color: var(--col1);
  }
  textarea{
    border: 1px solid var(--col1);
    min-width: 100%;
    max-width: 100%;
    resize: none;
    padding: 0.5rem;
  }
  button{
    appearance: none;
    border: none;
    padding: 1rem 2.5rem;
    background: var(--col1);
    color: var(--bg1);
  }
}
a{
  text-decoration: none;
  color: var(--col1)
}
footer{
  // background: var(--colt);
  color: var(--colt);
  padding: 2rem;
  p{
    text-align: center;
  }
}
@media screen and (min-width: 1024px){
  .container{
    max-width: 1024px;
    margin: 0 auto;
  }
  .first{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem 2rem;
  }
  .second-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  .slide{
    p{
      max-width: 50%;
    }
  }
  .contact-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
///////*************/////////
nav{
  display: flex;
  align-items: center;
  // background: var(--colt);
  color: var(--colt);
  padding: 0.5rem 1rem;
  position: initial;
}
nav > *{
  flex: 1
}
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: initial;
  visibility: initial;
  opacity: initial;
  background: none;
}
nav li:not(:last-of-type){
  margin-right: 1rem;
  color: var(--colt );
}
nav li{
  width: initial;
}
nav a{
  text-decoration: none;
  color: var(--colt2);
}
nav a:hover{
  color: var(--colt);
}
.title{
  margin: 0;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--colt2)
}
.menu{
  display: none;
}
///////*************/////////
}
@media screen and (min-width: 1200px){
  body{
    padding-bottom: 0;
  }
  .second{
    margin: 0 auto;
  }
  .second-container{
    grid-template-columns: repeat(3, 1fr);
  }
}